*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}

[class^="col"]{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    background-color: pink;
    color: black;

    
    text-align: center;
    line-height: 150px;
    font-size: 1em;
    border: 1px solid teal;
}

[class^="col"]>div{
    line-height: 140px;
    background-color: salmon;
    border: 1px solid white;
    font-size: .7em;
}
